body{
    margin: 0;
    padding: 0;
    margin-left: auto;
}

section {
    background-color: yellow;
    margin-bottom: 30px;
    width: 500px;
    height: 100%;
    text-align: center;
    padding: 30px;
}